.main_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fff;
  padding-top: 1.8rem;
  padding-left: 1rem;
}

.sub_div {
  display: flex;
  flex: 1;
  border: 1px solid #e6e6e6;
  margin-left: 2rem;
  margin-right: 1rem;
  border-radius: 5px;
  padding-left: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 21px;
}
